rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /files/{fileId} {
      allow read, write: if true;
    }

    match /requests/{requestId} {
      allow read, write: if true;
    }

    match /reports/{reportId} {
      allow read, write: if true;
    }

    match /settings/{settingsId} {
      allow read, write: if true;
    }

    match /admins/{adminId} {
      allow read, write: if true;
    }

    match /analytics/{docId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /test/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
